# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.p~ 
*.log

# Environment
.env
*.env
venv/
env/
ENV/
.venv/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# VS Code
.vscode/
.history/

# Migrations
**/migrations/*.py
**/migrations/*.pyc
!**/migrations/__init__.py

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db